.input {
  border: solid 1px $grey-400;
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 1.7;
  padding: 8px 10px;
  width: 100%;

  &.input--error {
    border: solid 1px red;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px $grey-700;
  }

  &::placeholder {
    color: $grey-600;
  }

  &:disabled {
    opacity: 0.3;
    background-color: $grey-100;
  }
}
