// spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-big: 20px;

// ******* library *********

// font-sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;

// Colors
$green-100: #d5ecbb;
$green-300: #60ac0f;
$green-500: #457c0b;

$grey-100: #f8f8f8;
$grey-200: #f0f0f0;
$grey-300: #ededed;
$grey-400: #d5d5d5;
$grey-500: #c4bfbe;
$grey-600: #a59f9e;
$grey-700: #807877;
$grey-800: #5a5452;
$grey-900: #3b3938;
$grey-1000: #252423;

$white: #fff;
