.spinner {
  @-webkit-keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &__container {
    position: relative;
  }

  &__large {
    width: 100px;
    height: 100px;
    border: 12px solid $grey-700;
    border-color: $grey-700 transparent $grey-700 transparent;
  }

  &__small {
    width: 12px;
    height: 12px;
    border: 3px solid $grey-700;
    border-color: $grey-700 transparent $grey-700 transparent;
  }

  border: 8px solid $grey-700;
  border-color: $grey-700 transparent $grey-700 transparent;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
  -webkit-animation: lds-dual-ring 1.3s linear infinite;
  animation: lds-dual-ring 1.3s linear infinite;
}
