.new-recipe {
  margin: 0 auto;
  padding: 20px;
  position: relative;

  &__header {
    margin: 0;
    padding: 16px 0;
    border-bottom: 1px solid $grey-400;
  }

  &__fields {
    margin: 16px 0;
  }

  &__label {
    padding: 10px 0 0 10px;
    display: block;
  }

  &__ingredients,
  &__seasonings,
  &__steps {
    background-color: white;
    min-height: 120px;
    position: relative;
  }

  &__spinner {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
  }
}
