@import '../Figure/Figure';

.figures-list {
  display: flex;
  flex-wrap: wrap;

  .figure {
    padding: 0 5px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 479px) {
    justify-content: center;

    .figure {
      flex-basis: 300px;

      &--crop {
        @include crop-height(300px);
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .figure {
      flex-basis: 44.7vw;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }

      &:nth-child(2n) {
        padding-right: 0;
        margin-right: 0;
      }

      &:nth-child(3n) {
        padding-left: 0;
        margin-left: 0;
      }

      &--crop {
        @include crop-height(44.7vw);
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    &--2 {
      .figure {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .figure {
      flex-basis: 30.7vw;

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }

      &:nth-child(3n) {
        padding-right: 0;
        margin-right: 0;
      }

      &:nth-child(4n) {
        padding-left: 0;
        margin-left: 0;
      }

      &--crop {
        @include crop-height(31vw);
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .figure {
      flex-basis: 23.23vw;

      &--crop {
        @include crop-height(23.23vw);
      }
    }
  }

  @media (min-width: 992px) {
    &--2,
    &--3 {
      .figure {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .figure {
      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }

      &:nth-child(4n) {
        padding-right: 0;
        margin-right: 0;
      }

      &:nth-child(5n) {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  @media (min-width: 1200px) {
    .figure {
      flex-basis: 280px;

      &--crop {
        @include crop-height(280px);
      }
    }
  }
}
