.home {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;

  &__search {
    background: white;
    margin: 20px 0 20px auto;
    width: 300px;
  }

  &--center {
    align-items: center;
    display: flex;
    height: 40vh;
    justify-content: center;
  }
}
