.base {
  background-color: $grey-200;
  color: $grey-900;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  height: 100%;

  &__logo {
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    background-color: white;
  }
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}
