@import '../../../styles/mixins';

.recipe-details {
  background-color: $grey-200;
  color: $grey-900;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  overflow: auto;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  &__ingredients {
    border-bottom: 1px solid $grey-200;
  }

  &__ingredients,
  &__seasonings,
  &__steps {
    flex-basis: 100%;
    padding-bottom: 10px;
  }

  &__container {
    background-color: white;
    box-shadow: 0 0 1px 1px #ccc;
    margin: 0 10px;
    max-width: 1200px;
  }

  &__header--flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__header,
  &__description {
    margin: 0;
    padding: 16px 0;
  }

  &__img {
    @include center-image();
  }

  &__img--crop {
    height: 100vw * 0.4;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    &__img--crop {
      height: 100vw * 0.3;
    }
  }

  @media (min-width: 768px) {
    &__ingredients {
      flex-basis: 60%;
      border-right: 1px solid $grey-400;
      border-bottom: none;
    }

    &__seasonings {
      flex-basis: 40%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    &__img--crop {
      height: 100vw * 0.25;
    }
  }

  @media (min-width: 992px) {
    &__container {
      margin: 0 auto;
    }

    &__img--crop {
      height: 100vw * 0.2;
    }
  }

  &--margin-bottom {
    margin-bottom: 14px;
  }

  &--padding-horizontal {
    padding: 0 14px;
  }

  &--border-bottom {
    border-bottom: 1px solid $grey-200;
  }

  &--secondary {
    display: flex;
    flex-wrap: wrap;
  }
}
