@import '../../../../styles/mixins';

@mixin crop-height($width) {
  height: $width * 0.57;
  overflow: hidden;
  position: relative;
}

.figure {
  margin: 10px 0;
  position: relative;
  width: 280px;

  &__img {
    @include center-image();
  }

  &__caption {
    font-weight: 600;
    margin: 10px 0;
    padding: 0 10px;
  }

  &--crop {
    @include crop-height(280px);
  }
}
