.search {
  align-items: center;
  border: solid 1px $grey-400;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  justify-content: space-between;
  line-height: 1.7;
  padding: 8px 10px;
  width: 100%;

  &__input {
    border: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 14px;
    margin-right: 10px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $grey-600;
    }
  }

  &__clear {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
