<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Recipe Amazing World</title>
    <link href="<%= htmlWebpackPlugin.files.css[0] %>" rel="stylesheet">
  <body>
    <div id="root"></div>
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  </body>
</html>
