.ingredient {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;

  &__content {
    padding: 0 20px;

    &__amount {
      display: block;
      font-weight: bolder;
      line-height: 1.7;
    }

    &__name {
      display: block;
      line-height: 1.7;
    }
  }
}
